<div class="wrapper">
  <button nz-button nzType="primary" (click)="toggleCollapsed()">
    <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
  </button>
  <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
    <li
      nz-menu-item
      nz-tooltip
      nzTooltipPlacement="right"
      [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
      nzSelected
    >
      <span nz-icon nzType="mail"></span>
      <span>可爱联盟</span>
    </li>
    <li nz-submenu nzTitle="可爱联盟文章" nzIcon="appstore">
      <ul>
        <li nz-menu-item>可爱联盟简介</li>
        <li nz-menu-item>可爱联盟小故事</li>
        <li nz-submenu nzTitle="Submenu">
          <ul>
            <li nz-menu-item>Option 7</li>
            <li nz-menu-item>Option 8</li>
          </ul>
        </li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Navigation Three" nzIcon="setting">
      <ul>
        <li nz-menu-item>Option 9</li>
        <li nz-menu-item>Option 10</li>
        <li nz-menu-item>Option 11</li>
      </ul>
    </li>
  </ul>
</div>
<div class="right-wrapper">
  <img src="assets/ddkk.jpg" alt="">
</div>